<!DOCTYPE html>
<html>

<head>
    <title>Angel's Rest </title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TrekAdvisor</a> </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                   
                </ul>
            </div>
        </div>

    </nav>
   