<!DOCTYPE html>
<html>

<head>
    <title>TrekAdvisor</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="icon" href="/stylesheets/trekking.ico">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/treks">TrekAdvisor</a> </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right nav-tabs" >
                    <%if(!currentUser)
                    {%>
                        <li role="presentation" class="<%= path === '/register' ? 'active' : '' %>" ><a href="/register">Sign Up</a></li>
                        <li role="presentation" class="<%= path === '/login' ? 'active' : '' %>" ><a href="/login">Login</a></li>
                        <%}
                            else{%>
                            <li class="active"><a href="#">Signed In As <%=currentUser.username%></a></li>
                            <li > <a href="/logout">Logout</a> </li>
                            <%}%>
                </ul>
            </div>
        </div>

    </nav>
  
   

    <div class="container">
        <div class="row">
            <div style="width: 30%; margin:25px auto ">
    <form  action="/login" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
        <input type="email" placeholder="email" class="form-control" id="email" name="email" required>
    </div>    
    <div class="form-group">   
             <label for="password">Password</label>
        <input type="password" placeholder="password"  class="form-control" id="password" name="password" required>
    </div>
    <hr>
        <button class="btn" type="submit">Login!</button>
    </form>
        <a href="/register" class="btn pull-right">New to TrekAdvisor? Click here</a>
    </div>
   </div>
   </div> 
    <% include ./partials/footer %>