form {
    display: inline;
  }

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 3px solid #0d4744;
    font: inherit;
    border-radius: 5px;
}

.form-control input:focus,
.form-control textarea:focus
{
    outline-color: #0d4744;
}
.form-control input.invalid{
    border-color: red;
}
.login-form{
   
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}
.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    font-weight: bold;
    border: 1px solid #57b1a9;
    color: #82d6cf;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #57b1a9;
    color: white;
  }
  
  .btn.danger {
    color: red;
    border-color: red;
  }
  
  .btn.danger:hover,
  .btn.danger:active {
    background: red;
    color: white;
  }

  .price,
  .location{
    display: inline-block;
    width: 100%;
    margin-bottom: 0.25rem;
  }