.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.caption-full {
    padding: 9px;
}

.deleteForm {
    display: inline;
}
body{
 background-color:#57b1a9 ;   
}
.indB{
    background-image: url('181137.jpg');
    background-position: center;     
    background-size: cover;    
  }
.recomB
{
  background-image: url('recomm.jpg');
  background-position: center;     
  background-size: cover; 
}
  .animation{
    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    from {opacity: 0.1;}
    to {opacity: 1;}
  }

  /* Standard syntax */
  @keyframes myfirst {
    from {opacity: 0.1;}
    to {opacity: 1;}
  }

 .clip{
    font-size: 200px;
    background: url('181137.jpg') no-repeat;
    background-position: center;
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.clipR{
    background: url('recomm.jpg') no-repeat;
    background-position: center;
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

.pagination{
    margin-top:2rem;
    text-align: center;
  }
  
  .pagination a{
    text-decoration: none;
    color:#f5f5f5;
    padding:0.5rem;
    border: 1px solid black;
    margin: 0 1rem;
  }
  
  .pagination a:hover,
  .pagination a:active,
  .pagination a.active {
      background: #f5f5f5;
      color:black;
  }
  .iconic{
    background-image: url('trekking.svg');
    background-position: center center;
    background-size: contain;
    height: 36px;
    margin-right: 16px;
    width: 36px;
    font-size: large;
  }
  
  